.backImage1{
    background-image: url('Images/FondPageAccueil1.jpg');
    padding: 100px;
}

.flexboxGeneral{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}

.backText{
    width: 300px;
    background: rgba(0, 0, 0, 0.807)
}

.section1{
    background-image: url('Images/FondPageAccueil1.jpg');
}

.text1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    text-align: left;
    margin-left: 1400px;
    background: rgba(0, 0, 0, 0.807)
}

.Section2{
    background-color: black;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.hautDePageFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    border-top: 100px;
    border-top-color: rgb(172, 139, 86);
}

p{
    color: white;
}

.flexbox3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-image: url('Images/FondPageAccueil3.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    padding-top: 600px;
}

.basDePageFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
 
    color: white;
   background-color: black;
}

.rot90{
    -webkit-transform: rotate(90deg);
    width: 700px;
    align-content: right;
}

.rot-90{
    -webkit-transform: rotate(-90deg);
    width: 700px;
}