.hautDePageFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    border-top: 100px;
    border-top-color: rgb(172, 139, 86);
}

.flexboxdelaPage{
  
   
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.807)
}

.ButduProject{

    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 600px;
    padding-top: 160px;
     background-image: url('Images/PageAproposImage1.webp');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
   
}

.PremierLien{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 600px;
    padding-top: 160px;
     background-image: url('Images/PageAproposImage2.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    
}
.DeuxiemeLien{
    border: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-bottom: 600px;
    padding-top: 160px;
     background-image: url('Images/PageAproposImage3.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
  
}

.RoleSean{
    text-align: left;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
     background-image: url('Images/PageAproposImage4.webp');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    padding-bottom: 600px;
    padding-top: 100px;
}

.RoleAlexis{
    text-align: left;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 600px;
    padding-top: 160px;
     background-image: url('Images/PageAproposImage5.webp');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;

 
}

p{

    color: white;
}

.boitenoir{
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    opacity: 80%;
}

.PeggieEtEsrb{
    padding-left: 200px;
}

.Logos{
    padding-right: 370px;
}

.basDePageFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: white;
   background-color: black;
   
}

.gold{
    background-color: rgb(172, 139, 86);
}