.flexbox4{
    flex-wrap: nowrap;
   
}

.centreTitre{
    text-align: center;
}

.hautDePageFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;

    background-color:  rgb(172, 139, 86);
}

.PeggieEtEsrb{
    padding-left: 200px;
}

.Logos{
    padding-right: 370px;
}

.basDePageFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: white;
   background-color: black;
   
}
.question{
    padding-left: 200px;
    color: white;
}

.blue{
    background-color: dodgerblue;
}

.centre-envoi{
    align-content: center;
    margin-bottom: 50px;
}