.flexbox4{
    flex-wrap: nowrap;
    text-align: center;
}

.centreTitre{
    text-align: center;
}

.hautDePageFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;

    border-top: 100px;
    border-top-color: rgb(172, 139, 86);
}


.basDePageFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
 
    color: white;
   background-color: black;
}

.question{
    padding-left: 200px;
    color: white;
}

.blue{
    background-color: dodgerblue;
}

.centre-envoi{
    align-content: center;
    margin-bottom: 50px;
}