.hautDePageFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    background-color:  rgb(172, 139, 86);
}

.gold{
    background-color: rgb(172, 139, 86);
}


.txtPageExtrat{
    background-color: rgba(33, 145, 251, 1);
   
}

p{
    text-align: center;
    color: white;
}

.PeggieEtEsrb{
    padding-left: 200px;
}

.Logos{
    padding-right: 370px;
}

.basDePageFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: white;
   background-color: black;
   
}